h1 {text-align:center; font-size:220%;}
h2 {text-align:center; font-size:150%;}
h3 {text-align:center; font-size:125%;}

ul {margin-left:2em;}


.onlyActive {transition: opacity 1s;}
.past > .onlyActive, .past .onlyActive, .past.onlyActive {opacity: 0 !important;}

.TeXFake {transition: opacity .5s; transition-delay:2s;}
.past .TeXFake { opacity: 0;}


.TeXTitle {border-radius: 25px; background:darkgreen; color:#FFFFFF; padding:20px; box-shadow: 10px 10px 8px #868686;
		transition: background 2s, color 2s, box-shadow 2s;}
.past .TeXTitle {background:none; color:#000000; padding:20px; box-shadow: 0px 0px 0px #FFFFFF;}

.problemdef::before {
	text-decoration:underline;
	display:block;
	color:#808080;
	text-shadow: 1px 1px 4px rgba(170,170,170,0.9);
	float:left;
	margin-left:-3em;
}
.problemdef {
	margin-left:3em;
}

.problemdef.e::before {content:"Eing.:";}
.problemdef.z::before {content:"Ziel:";}
.problemdef.l::before {content:"Lsg.:";}

span.highlightcolor {transition: color 7s;}
.substep.past span.highlightcolor {color:#000000 !important;}

.theoremstyle {
	margin-left:3em;
	margin-bottom:1em;
}

.theoremstyle::before {
	font-variant:small-caps;
	font-weight:bold;
	color:#808080;
	text-shadow: 1px 1px 4px rgba(170,170,170,0.9);
	display:block;
	float:left;
	margin-left:-3em;
}

.theoremstyle.s::before {content:"Satz:";}
.theoremstyle.g::before {content:"Ges.:";}
.theoremstyle.l::before {content:"Lem.:";}
.theoremstyle.d::before {content:"Def.:";}

.proofstyle {
	margin-left:3em;
	margin-bottom:1em;
}

.proofstyle::before {
	font-variant:small-caps;
	font-weight:bold;
	color:#808080;
	text-shadow: 1px 1px 4px rgba(170,170,170,0.9);
	display:block;
	float:left;
	margin-left:-3em;
	content:"Bew.:";
}

.proofstyle::after {
	position:absolute;
	right:20px;
	bottom:15px;
	font-size:35px;
	content:"□";
}



.theoremstyletop::before {
	font-variant:small-caps;
	font-weight:bold;
	color:#808080;
	text-shadow: 1px 1px 4px rgba(170,170,170,0.9);
	display:block;
}

.theoremstyletop.s::before {content:"Satz:";}
.theoremstyletop.l::before {content:"Lemma:";}
.theoremstyletop.d::before {content:"Definition:";}

#Problems .problemdef, #Problems .theoremstyle, #Problems .theoremstyletop {font-size:80%; width:30%; position:absolute;}


.code {
	font-family:monospace,Courier;
}
.maincode {
	 text-shadow: 1px 1px 2px rgba(100,100,100,0.9);
}
.AlgName {
	font-variant:small-caps;
}
.numbering {
	color:#808080;
}

span.vanish.past {display:none;}


.openBlackbox {
	background-color:white; 
	border-radius: 10px 10px; 
	box-shadow: 4px 4px 4px #868686 inset;
}

#Blackbox {
	transition: opacity 3s;
}


#sidebar {opacity:0;}
.sidebar-visible {transition: opacity 1s; opacity:1 !important; width:100%; height:100%; background-color:#FFFFFF;}

.impress-container {background:#FFFFFF;
	/*background: rgb(215, 215, 215);
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 500, from(rgb(240, 240, 240)), to(rgb(190, 190, 190)));
    background: -webkit-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
    background:    -moz-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
    background:     -ms-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
    background:      -o-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
    background:         radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));*/}

/*.impress-on-overview #credits {transition-delay:10s; -moz-transition-delay:10s; transition: opacity 3s;}	
.impress-on-overview #credits {opacity: 1;}*/
	
.impress-on-Overview .impress-container {width:100% !important;}
.impress-on-Overview .impress-container {transition: width 2s;}
.impress-on-Overview .sidebar-container {width:0% !important;}
.impress-on-Overview .sidebar-container .sidebar-visible {opacity:0;}
.impress-on-Overview .sidebar-container .sidebar-visible {transition: opacity .5s;}
.impress-on-Overview .sidebar-container {transition: width 2s;}


table.listtable td:first-child {padding-right:1em; padding-left:1em;}

.card {background-color:#FFFFFF; padding:10px 30px; box-shadow: 5px 5px 10px 10px #868686;}

.keIsom {color:#008000;}
.exIsom {color:#00BE6E;}

.katex {font-size:110% !important;}

#DefSpiele {margin-left:0px; transition: margin 1s, opacity 1s;}
.impress-on-UngewAuslastungsspiele #DefSpiele {margin-left:-200px;}
.impress-on-Potentialspiele #DefSpiele {margin-left:200px;}

.impress-on-skalAuslastungsspiele #DefSpiele, .impress-on-skalAuslastungsspiele .alleSpieleIso {opacity:0 !important;}
.impress-on-skalAuslastungsspiele2 #DefSpiele, .impress-on-skalAuslastungsspiele2 .alleSpieleIso {opacity:0 !important;}

.impress-on-overview2 #DefSpiele {margin-top:220px;}

#RosenthalPot.past {opacity:0;}

.cite::before {content:"[";}
.cite::after {content:"]";}
.cite {font-size:90%; font-style:italic; color:#555555;}

/* UngewAuslastungsspiele, RosenthalPot, Potentialspiele, step-8, step-9, Morphismen, step-11, gewPotentialspiele, gewAuslastungsspiele, step-15, overview, skalAuslastungsspiele, skalAuslastungsspiele2, overview2 */
.titleZsh, .titleAusl, .titlePot {transition:color 2s;}
.impress-on-UngewAuslastungsspiele .titleAusl, .impress-on-RosenthalPot .titleAusl, .impress-on-Potentialspiele .titleAusl, .impress-on-step-8 .titleAusl, .impress-on-step-9 .titleAusl, .impress-on-Morphismen .titleAusl, .impress-on-step-11 .titleAusl, .impress-on-step-12 .titleAusl,.impress-on-gewPotentialspiele .titleAusl, .impress-on-gewAuslastungsspiele .titleAusl, .impress-on-step-16 .titleAusl, .impress-on-overview .titleAusl, .impress-on-skalAuslastungsspiele .titleAusl, .impress-on-skalAuslastungsspiele2 .titleAusl, .impress-on-overview2 .titleAusl {color:#FF0000;}
.impress-on-Potentialspiele .titlePot, .impress-on-step-8 .titlePot, .impress-on-step-9 .titlePot, .impress-on-Morphismen .titlePot, .impress-on-step-11 .titlePot, .impress-on-step-12 .titlePot, .impress-on-gewPotentialspiele .titlePot, .impress-on-gewAuslastungsspiele .titlePot, .impress-on-step-16 .titlePot, .impress-on-overview .titlePot, .impress-on-skalAuslastungsspiele .titlePot, .impress-on-skalAuslastungsspiele2 .titlePot, .impress-on-overview2 .titlePot {color:#0000FF;}
.impress-on-step-9 .titleZsh, .impress-on-Morphismen .titleZsh, .impress-on-step-11 .titleZsh, .impress-on-step-12 .titleZsh, .impress-on-gewPotentialspiele .titleZsh, .impress-on-gewAuslastungsspiele .titleZsh, .impress-on-step-16 .titleZsh, .impress-on-overview .titleZsh, .impress-on-skalAuslastungsspiele .titleZsh, .impress-on-skalAuslastungsspiele2 .titleZsh, .impress-on-overview2 .titleZsh {color:#008000;}


/* Erstellen: 
.step {
	border:2px #000000 solid;
	opacity: 1 !important;
/*	background-color:#FFFFFF80;
	background-image:url(./../Grid.png);
}

.substep {
	opacity: 1 !important;
}

.TeXFake {opacity:0;}
.TeXFakeShadow  {box-shadow:none;}
.TeXTitle {background:none; color:#000000; padding:20px; box-shadow: 5px 5px 0px #FFFFFF;}

/*.onlyActive {display:none;}*/